.container {
  border: 2px solid green;
  display: grid;
  height: 30rem;
  row-gap: 1px;
  column-gap: 1px;
  grid-template-rows: repeat(4, 5rem);
  grid-template-columns: repeat(2, 5rem);
  /* grid-template-rows: 5rem auto 5rem;
  grid-template-columns: 5rem auto; */

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  grid-template-areas: "one two" "three four" "five six" ". footer";
}

.box {
  background-color: red;
  width: 3rem;
  height: 3rem;
}

.box-d {
  justify-self: left;
  align-self: start;
  background-color: green;
  /*  width: 10rem;
 height: 10rem; */
}

.box-e {
  background-color: yellow;
  justify-self: normal;
  align-self: normal;
  width: initial;
  height: initial;
  grid-row: 2 / span 2;
  grid-column: 1 / span 2;
  grid-area: footer;
}
