<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flatingelements.css" />
    <title>floating elements</title>
  </head>
  <body>
    <article class="twitter">
      <div class="color-box"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, rem!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
        quisquam similique, facilis porro quae nostrum quo facere cupiditate,
        maxime earum aliquam sunt doloremque placeat eos optio debitis deserunt
        fugit in?
      </p>
    </article>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <article class="twitter">
      <div class="color-box2"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, rem!
      </p>
      <p class="clear">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
        quisquam similique, facilis porro quae nostrum quo facere cupiditate,
        maxime earum aliquam sunt doloremque placeat eos optio debitis deserunt
        fugit in?
      </p>
    </article>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <article class="twitter">
      <div class="color-box"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, rem!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
        quisquam similique, facilis porro quae nostrum quo facere cupiditate,
        maxime earum aliquam sunt doloremque placeat eos optio debitis deserunt
        fugit in?
      </p>
      <div class="clear"></div>
    </article>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <article class="twitter clearfix">
      <div class="color-box"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, rem!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
        quisquam similique, facilis porro quae nostrum quo facere cupiditate,
        maxime earum aliquam sunt doloremque placeat eos optio debitis deserunt
        fugit in?
      </p>
      
    </article>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <article class="twitter overflow">
      <div class="color-box"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, rem!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
        quisquam similique, facilis porro quae nostrum quo facere cupiditate,
        maxime earum aliquam sunt doloremque placeat eos optio debitis deserunt
        fugit in?
      </p>
      
    </article>
  </body>
</html>
