<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./mediaquarries.css" />
    <title>mediaquarries</title>
  </head>
  <body>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        repellat non deleniti suscipit, aut voluptatibus itaque blanditiis
        obcaecati rerum velit. Corporis ea a velit? Voluptas aliquid excepturi
        quasi facere earum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quaerat
        eaque. Ipsum vero explicabo nobis totam quasi tempore ex nostrum soluta
        veritatis. Possimus nemo nesciunt sunt dignissimos consequatur vitae
        quas!
      </p>
    </div>
  </body>
</html>
