<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overflow</title>

    <link rel="stylesheet" href="./overflow.css" />
  </head>
  <body>
    <div class="overflow">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam id
        repellat numquam laudantium perspiciatis neque iure illum quaerat sequi
        dignissimos. Cum suscipit tempore delectus itaque consectetur quidem
        rerum molestiae quae.
      </p>
    </div>
    <br />
    <div class="overflow">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        libero?
      </p>
    </div>
  </body>
</html>
