@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto:wght@100&display=swap");

.one {
  margin-bottom: 55px;
}

.three {
  margin-bottom: 55px;

  font-family: "Comforter Brush", cursive;
}

.four {
  font-family: "Comforter Brush", cursive;
}
.two {
    margin-bottom: 55px;
}

.two {
    line-height: 4rem;
}

.four {
    letter-spacing: 5px;
    word-spacing: 33px;
    font-size: larger;
    font-weight: bolder;
}

.five {
    width: 50ch;
    font-family: "Comforter Brush", cursive;
}
